{%extends 'layouts/base.html'%}
{% load static %}
{%block content%}
<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <div id="home"class="tag">
    <section id="home" class="d-flex align-items-center">
    <div class="container">
      <h1> welcome to <br>Healthcare</h1>
      <h2>we are team of Specialized Doctors. <br>"Your devotion and care bring healing,
        comfort and hope."</h2>
      <a href="#about" class="btn-get-started scrollto">Learn More</a>
    </div>
  </section>
</div>
<section id="featured-section" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col md 6 col-lg-3 d-flex align-items-stretch mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Normal Checkup</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti 2 times per month quas molestias excepturei</p>

            </div>
          </div>


          <div class="col md 6 col-lg-3 d-flex align-items-stretch mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Blood Test</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti 2 times per month quas molestias excepturei</p>
            </div>
          </div>


          <div class="col md 6 col-lg-3 d-flex align-items-stretch mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-temperature-high"></i></div>
              <h4 class="title"><a href="">Body Temperature</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti 2 times per month quas molestias excepturei</p>
            </div>
          </div>


          <div class="col md 6 col-lg-3 d-flex align-items-stretch mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-hand-holding-medical"></i></div>
              <h4 class="title"><a href="">Medicine Use</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti 2 times per month quas molestias excepturei</p>
            </div>
          </div>

        </div>
      </div>
    </section>
  <div id="about"class="tag">
    <section  class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About us</h2>
          <p> Magnam dolores commodi suscipit. Necessitatibus eius
            consequatur ex aliquid fuga eum quidem. Sit sint consequatur velit.
            Quisquam quos quisqum cupiditate. Et nemo impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-x1-5 col-lg-6 video-box d-flex justify-content-center
            align-items-stretch position-relative" >
            <img  src="/static/img/about.jpg" class="img-fluid">
          </div>

          <div class="col-x1-7 col-lg-6 icon-boxes d-flex flex-column 
            align-items-stretch justify-content-center py-5 px-lg-5">
            <div class="icon-box">
              <div class="icon"><i class="fa-regular fa-heart"></i></div>
              <h4 class="title"><a href="">HEALTH IS WEALTH</a></h4>
              <P class="description">Voluptatum deleniti corrupti 2 times per month quas molestias excepturei</P>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-star-of-life"></i></div>
              <h4 class="title"><a href="">EMERGENCY</a></h4>
              <P class="description">Voluptatum deleniti corrupti 2 times per month quas molestias excepturei</P>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-question"></i></div>
              <h4 class="title"><a href="">SERVICES</a></h4>
              <P class="description">Voluptatum deleniti corrupti 2 times per month quas molestias excepturei</P>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
  <div id="service"class="tag">
<section id="services" class="services">
      <div class="container-ms">
        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius
            consequatur ex aliquid fuga eum quidem. Sit sint consequatur velit.
            Quisquam quos quisqum cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a href="">Regular Checkup</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4><a href="">Medicine</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4><a href="">Pharmeologist</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4><a href="">Blood Test</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4><a href="">Disabled Person</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4><a href="">Health Post</a></h4>
              <p>Quisquam quos quisqum cupiditate Et nemo qui impedit suscipit</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="doctors">
    <section class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>Doctors</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius
            consequatur ex aliquid fuga eum quidem. Sit sint consequatur velit.
            Quisquam quos quisqum cupiditate. Et nemo qui impedit suscipit alias ea.
            Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

          <div class="row">
            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/doctors/1.png" class="img-fluid"></div>
                <div class="member-info">
                  <h4>Rozan Chitrakar</h4>
                  <span>Cheief Medical Officer</span>
                  <p>Sit sint consequatur velit.
                    Quisquam quos quisqum cupiditate.</p>
                  <div class="social">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/doctors/2.jpg" class="img-fluid"></div>
                <div class="member-info">
                  <h4>Pratikshya Rai</h4>
                  <span>Anesthesioloogist</span>
                  <p>Sit sint consequatur velit.
                    Quisquam quos quisqum cupiditate.</p>
                  <div class="social">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/doctors/3.jpg" class="img-fluid"></div>
                <div class="member-info">
                  <h4>Brat Walson</h4>
                  <span>Cardiology</span>
                  <p>Sit sint consequatur velit.
                    Quisquam quos quisqum cupiditate.</p>
                  <div class="social">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/doctors/4.jpg" class="img-fluid"></div>
                <div class="member-info">
                  <h4>Lauren Jones</h4>
                  <span>Neurologist</span>
                  <p>Sit sint consequatur velit.
                    Quisquam quos quisqum cupiditate.</p>
                  <div class="social">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
<div class="footer">
    <h3>Developed By Sumit Thakur <h3>
</div>

{%endblock%}

