{%extends 'layouts/base.html'%}

{%block content%}

<div class="container mt-5">
    <div class=" card col-6 offset-3" style="width: 40%;">
        <form class="col 80" method="post" action="{% url 'doc-login' %}">

            <h4>Login to your account</h4>
            {%csrf_token%}
            {% if messages %}
            {{ message.tags }}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>

            {% endif %}
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{%endblock%}